html,
body {
  color: #e9c156;
  font-family: Gupter;
  height: 100%;
  width: 100%;

}

video::-internal-media-controls-overlay-cast-button{
  display: none;
}

.logo {
  padding-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

section {
  background-color: black;
  z-index: -1;
  display: none;
}

.navbar {
  background-color: black;
  vertical-align: center;
  border-bottom:1px solid #e9c156;
}

.navbar-nav {
  margin: auto;
  width: 100%;
  align-items: center;
}

.nav-item {
  margin: auto;
}

.nav-link,
.nav-seperator {
  color: #e9c156;
  font-family: Gupter;
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
  font-weight: 5;
}

.nav-link {
  border-width: 1px;
  border-style: solid;
  border-color: #e9c156;
  color:#e9c156;
  border-left: none;
  border-right: none;
}

.nav-seperator{
  display: none;
}

.nav-link:hover{
  color: #e9c156;
  text-shadow : horizontal-shadow vertical-shadow blur e9c156;

}

.carousel {
  background-color: #e9c156;
  margin-left: auto;
  margin-right: auto;
  border: 30px solid #e9c156;
  border-width: thick;
  width: 100%;
  height:50%;
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 2s;
}

.carousel-item {
  width: 100%;
  height: 90vh;
  margin: auto;
}

.carousel-inner {
  height: 100%;
}



.collage-img {
  border: 30px solid #e9c156;
  border-width: thick;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
}

#collage-img_1 {
  margin-left: 0px;
}

#collage-img_2 {
  margin-left: 10%;
  padding: 2%;
}

.crd {
  display: block;
  height: 80%;
  border: 30px solid #e9c156;
  border-width: thick;
  width: 85%;
  background-color: black;
}

#card_1 {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15%;
  height: 50%;
}

.content h3{
margin: 0px;
}

#card_1 .content{
  width: 100%;
  justify-content: center;
  align-items: center;
}

#card_2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15%;
}

.navbar-brand {
  display: none;
}

.logo-bar {
  width: 100px;
  height: 100px;
}


footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:2%;
  width: 100%;
  background-color: black;
}

.social-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5% ;
    height: 50%;
}

.icons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.icons svg{
width: 50px;
height: 50px;
}


/* Large devices (laptops/desktops, 992px and lower) */
@media only screen and (max-width: 992px) {
  section {
    display: none;
  }

  .logo{
  display: none;
}

  .navbar-brand {
    display: inline-block;
  }

  .nav-seperator {
    display: none;
  }

  .navbar-toggler {
    color: #e9c156;
    right: 0px;
    font-size: xx-large;
  }

  .nav-link{
    border: none;
  }

  .navbar-toggler-icon{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
  }

  .carousel-item {
  width: 100%;
  height: 100%;
  margin: auto;
}

.icons{
    gap: 16px;
}
}
